.detail {
  grid-column: 1 / -1;
  grid-row: 3 / span 1;

  display: flex;
  align-items: center;
  justify-content: space-between;

  &__period,
  &__timer {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0 2rem;

    & h3 {
      font-weight: 400;
      color: #353d43;
      font-size: 1.8rem;
    }

    & .icon {
      width: 2.5rem;
      height: 2.5rem;
      color: #353d4375;
    }
  }

  &__period .period::before {
    content: "#";
    color: currentColor;
    margin-right: 0.2rem;
  }
}
