.header {
  grid-column: 1 / -1;
  grid-row: 1 / span 1;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 2.5rem;
  color: $color-gray-dark;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  span {
    font-weight: 700;
    background-clip: text;
    filter: hue-rotate(45deg);
  }
}

.color-icon {
  width: 2.5rem;
  height: 2.5rem;
}

.payment {
  font-size: 2.2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.icon-wallet {
  width: 3rem;
  height: 3rem;
}

.reset__game {
  background: none;
  border: none;
  font-family: inherit;
  font-size: 2rem;
  cursor: pointer;
  line-height: 1;
  color: inherit;
  transition: all 0.3s ease;
  margin-left: 1rem;
  margin-top: 5px;
  animation-fill-mode: none;
  transform: rotate(0deg) scale(0.7);

  &:hover {
    transform: rotate(45deg) scale(1);
  }
}
